* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  color: #fff;
}

.container {
  background-color: hsl(31, 77%, 52%);
  border-radius: 8px;
  width: 327px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .sedans-container,
.container .suvs-container,
.container .luxury-container {
  width: 327px;
  height: 442px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
  h1 {
    font-size: 56px;
    font-family: "Big Shoulders Display", sans-serif;
    text-transform: uppercase;
    color: #f2f2f2;
  }
  button {
    background-color: #f2f2f2;
  }
  p {
    line-height: 25px;
  }
}

.container .sedans-container {
  background-color: hsl(31, 77%, 52%);
  border-radius: 8px 8px 0 0;
  button {
    color: hsl(31, 77%, 52%);
  }
}

.container .suvs-container {
  background-color: hsl(184, 100%, 22%);
  border-radius: 8px;
  button {
    color: hsl(184, 100%, 22%);
  }
}

.container .luxury-container {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 0 8px 8px;
  button {
    color: hsl(179, 100%, 13%);
  }
}

.container .sedans-container button,
.container .suvs-container button,
.container .luxury-container button {
  width: 146px;
  height: 48px;
  border-radius: 25px;
  border: none;
}
